
#dekked-addCard {
    height:188px;
    width:170px;
    border-radius: var(--general-border-radius);
    background: var(--off-beige);
    display:flex;
    align-items: center;
    justify-content:center;
    cursor:pointer;
}

#dekked-addCard :hover .icon{
    color: var(--primary-color);
}

#dekked-addCard :active .icon{
    color: var(--primary-color-hover);
}

#dekked-addCard .icon {
    width:80px;
    height:80px;
}