.dekked-folder-binder  {
    width:100%;
}


.dekked-folder-binder .dekked-page-header-container {
    display:grid;
    grid-template-columns: repeat(4,1fr );
    grid-column-gap: 56.67px;
    grid-row-gap: 42px;
}

.dekked-folder-binder .dekked-page-header-container {
    width:100%;
    display:flex;
    align-items:center;
    flex-shrink:0;
    flex-grow:0;
    flex-direction:column;
    margin-top:68px;
    
}

.dekked-folder-binder .dekked-page-content-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
}

.dekked-folder-binder .dekked-page-header{
    padding-left: calc(75px + env(safe-area-inset-left));
    padding-right: calc(75px + env(safe-area-inset-right));
    max-width:100%;
    width:1000px;
}

.dekked-folder-binder .dekked-page-header p.quantity {
    color:var(--grey-2);
    user-select: none;

}

.dekked-folder-binder #button-quantity {
    margin-top:14px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.dekked-folder-binder .dekked-page-header h2:empty:before {
    content: 'Untitled';
    color:var(--grey-2);
}

.dekked-folder-binder .dekked-page-header h2 {
    cursor:text;
}

.dekked-folder-binder  .dekked-page-content {
    display:grid;
    grid-template-columns: repeat(4,1fr );
    grid-column-gap: 56.67px;
    grid-row-gap: 42px;
    max-width:100%;
    padding-left: calc(75px + env(safe-area-inset-left));
    padding-right: calc(75px + env(safe-area-inset-right));
    width:1000px;
    padding-bottom:15vh;
    padding-top:60px;

}
