.Button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    border-radius:5px;
    cursor: pointer;
    font-size:12px;
     font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Button.primary{
    background: var(--primary-color);
    color: var(--white);
    border:0px;
}

.Button.secondary{
    background: var(--white);
    color: var(--main-black);
    border: 0.5px solid var(--grey-2);
}

.Button.tertiary{
    background: var(--red);
    color:var(--white);
    border:0px;
}

.Button.inactive {
    background:var(--grey-2);
    border:0px;
    color:var(--white);
    cursor:auto;
}

.Button:active,
.Button:hover,
.Button:focus {
    outline:none;
}

.Button.primary:hover {
    background:var(--primary-color-hover);
}

.Button.secondary:hover {
    background:var(--white-hover);
}

.Button.tertiary:hover {
    background:var(--red-hover);
}

.Button.primary:active {
    background:var(--primary-color-clicked);
}

.Button.secondary:active {
    background:var(--white-clicked);
}

.Button.tertiary:active{
    background:var(--red-clicked);
}
