.dekked-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    border-radius:5px;
    height:22px;
    cursor: pointer;    
    user-select:none;
}

.dekked-button.primary{
    background: var(--primary-color);
    color: white;
    border:0px;
}

.dekked-button.primary p{
    color: white;
}

.dekked-button.secondary{
    background: white;
    color: var(--main-black);
    border: 0.5px solid var(--grey-2);
}

.dekked-button.tertiary{
    background: var(--red);
    border:0px;
}

.dekked-button.tertiary p{
    color: white;
}

.dekked-button[disabled] {
    background:var(--grey-2);
    border:0px;
    cursor:auto;
}

.dekked-button[disabled]:hover {
    background:var(--grey-2)!important;
    border:0px!important;
    cursor:auto!important;
}

.dekked-button[disabled] p{
    color: var(--white);
}

.dekked-button:active,
.dekked-button:hover,
.dekked-button:focus {
    outline:none;
}

.dekked-button.primary:hover {
    background:var(--primary-color-hover);
}

.dekked-button.secondary:hover {
    background:var(--white-hover);
}

.dekked-button.tertiary:hover {
    background:var(--red-hover);
}

.dekked-button.primary:active {
    background:var(--primary-color-clicked);
}

.dekked-button.secondary:active {
    background:var(--white-clicked);
}

.dekked-button.tertiary:active{
    background:var(--red-clicked);
}
