.Button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    border-radius:5px;
    height:22px;
    cursor: pointer;    
    user-select:none;
}

.Button.primary{
    background: var(--primary-color);
    color: var(--white);
    border:0px;
}

.Button.primary p{
    color: var(--white);
}

.Button.secondary{
    background: var(--white);
    color: var(--main-black);
    border: 0.5px solid var(--grey-2);
}

.Button.tertiary{
    background: var(--red);
    border:0px;
}

.Button.tertiary p{
    color: var(--white);
}

.Button.inactive {
    background:var(--grey-2);
    border:0px;
    cursor:auto;
}

.Button.inactive p{
    color: var(--white);
}

.Button:active,
.Button:hover,
.Button:focus {
    outline:none;
}

.Button.primary:hover {
    background:var(--primary-color-hover);
}

.Button.secondary:hover {
    background:var(--white-hover);
}

.Button.tertiary:hover {
    background:var(--red-hover);
}

.Button.primary:active {
    background:var(--primary-color-clicked);
}

.Button.secondary:active {
    background:var(--white-clicked);
}

.Button.tertiary:active{
    background:var(--red-clicked);
}
