.studySetSwitcher{
    display:flex;
    flex-direction:row;
    align-items:center;
    user-select: none;
    gap:24px;  

    span {
        &:hover {
            color: var(--primary-color);
        }
    }
}


