.dekked-passwordModalContainer{
    width: 400px!important;
    height: 240px!important;
    background:var(--white);
    filter: var(--drop-shadow);
    border-radius: var(--general-border-radius);
    position:relative;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:24px;  
}

.dekked-passwordModal{
    display:flex;
    justify-content:flex-start;
    flex-direction:column;
    gap:8px;
    width:100%;
}
 
#passwordLength{
    color:var(--grey-2);
}

.dekked-passwordModal button {
    width:73px;
}

