.toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 16px;
    gap: 8px;

    .switchBlock {
        display: flex;
        align-items: center;
        flex-direction: row;

        &:hover .icon {
            color: var(--primary-color);
        }

        &:active .icon {
            color: var(--primary-color-hover);
        }   
    }

    .divider {
        height: 16px;
        width: 1px;
        background-color: var(--main-black);
    }

    &.half .icon {
        height: 14px;
        width: 14px;
    }

}

.textBlockSelector {
    display: flex;
    flex-direction: column;
    width: 220px;
    filter: var(--drop-shadow);
    border-radius: 2px;
    background: white;
    cursor: pointer;
    position: absolute;
    transform: translate(0px, 16px);
}