.dekked-block {
    position:relative;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:row;
    width:100%;
    height:30px;
    padding:0;    
    user-select: none; 
    cursor:pointer;
    padding-left:16px;
    gap:8px;
}

.dekked-block:hover{
    background:var(--white-hover);
}

.dekked-block:active{
    background:var(--white-clicked);
}

.dekked-block.off-beige:hover{
    background:var(--off-beige-hover);
}

.dekked-block.off-beige:active{
    background:var(--off-beige-clicked);
}

