.Block {
    position:relative;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:row;
    width:100%;
    height:30px;
    padding:0;
}

.Block p {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.Block:hover{
    background:var(--white-hover);
    cursor:pointer;
}

.Block:active{
    background:var(--white-clicked);
}

.Block.off-beige:hover{
    background:var(--off-beige-hover);
    cursor:pointer;
}

.Block.off-beige:active{
    background:var(--off-beige-clicked);
}

.Block .icon{
    margin-left:16px;
    margin-right:8px;
}

.Block .icon:hover {
    color: var(--main-black);
}