div.DropdownMenu{
    display: flex;
    flex-direction: column;
    padding: 0px;
    width:220px;
    filter: var(--drop-shadow);
    border-radius: var(--general-border-radius);
    background:var(--white)
} 



