.dekked-topBarContainer {
    width:100%;
    max-width:100vw;
    height:60px;
    opacity:1;
    position:relative;
}

.dekked-topBar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    overflow: hidden;
    height: 60px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding-left: 16px;
}

.dekked-topBar .icon.hamburgerMenu{
    margin-right:24px;
}

.dekked-topBar .breadcrumbs {
    display:flex;
    align-items: center;
    height:100%;
    flex-grow:1;
    min-width:0px;
    user-select:none;
    gap:4px;

}

.dekked-topBar .breadcrumbs .icon {
    cursor:auto;
}

.dekked-topBar p:hover {
    color:var(--primary-color);
}

.dekked-topBar p:active {
    color:var(--primary-color-hover);
}

.dekked-topBar p{
    text-overflow:ellipsis;
    max-width:120px;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
}

.dekked-topBar #slash{
    margin-left: 4px;
    margin-right: 4px;
    color: var(--grey-2);
    font-size: 14px;
}
