.dekked-dropBlock {
    position:relative;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:row;
    width:100%;
    height:30px;
}

.dropdownMenu.dropBlocks {
    position: absolute;
    transform: translate(0, 15px);
}

.dekked-dropBlock .icon{
    margin-right:8px;
}

.dekked-dropBlock #dropBlockDots{
    will-change: opacity;
    position:absolute;
    right:0;
    opacity:0;
}

.dekked-dropBlock:hover #dropBlockDots{
    opacity:1;
}

.dekked-dropBlock span{
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    margin-right:16px;
}

.dekked-dropBlock span[contenteditable=true]
{
    text-overflow:clip;
}

.dekked-dropBlock span:empty:before {
    content: 'Untitled';
}

.dekked-dropBlock {
    background:inherit;
}
    
.dekked-dropBlock:hover {
    background: var(--off-beige-hover);
    cursor: pointer;
}

.dekked-dropBlock:active {
    background:var(--off-beige-clicked);
}


.dekked-dropBlock:hover span{
    margin-right:28px;
}

/* Style folder dropblocks */
.dekked-dropBlock .icon.dropDownArrow.right{
    transform:rotate(-90deg);  
}

.dekked-dropBlock .icon.dropDownArrow.folder{
     margin-left:16px;
}

.dekked-dropBlock .icon.dropDownArrow.binder{
     margin-left:24px;
}

/* Style study set dropblocks */
.dekked-dropBlock .icon.studySet{
    margin-left:56px;
}

.dekked-dropBlock .icon.studySet.dropDownArrow{
    display:none;
}


