.sidebarBottom {
  display:block;
  position:absolute;
  bottom:0;
  width:100%;
  user-select:none;

}

.addBlock{
  display:flex;
  justify-content:flex-start;
  width:100%;
  height:40px;
  place-items:center;
  border-top:0.5px solid var(--grey-3);
  background:var(--off-beige);
}

.sidebarBottom .icon.plus{
  margin-right:16px;
  margin-left:16px;
}

.sidebarBottom .addFolder{
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.sidebarBottom .icon.plus:hover{
  color:var(--main-black);;
}

.addBlock:hover{
  background-color:var(--off-beige-hover);
  cursor:pointer;
}

.addBlock:active {
  background:var(--off-beige-clicked);
}

.deleteBlockContainer {
  position:fixed;
  width:250px;  
  height:280px;
  bottom: 55px;
  left:210px;
  overflow-y:auto;
  user-select:none;
}

