.dekked-sidebarContainer {
  width:220px;
  display:flex;
  align-items:center;
  user-select:none;
  z-index:5;
  height:100%; 
}

.dekked-sidebar{
  background: var(--off-beige);
  overflow:auto;
  position:relative;
  display:flex;
  flex-direction:column;
  height:100%;
  width:220px;
  top:0px;
  left:0px;
  bottom:0px;
  cursor:default;
  max-height:100%;
  border-right: 0.5px solid var(--grey-3);
  }











