.sidebarBottom {
  display:block;
  position:absolute;
  bottom:0;
  width:100%;
}

.addBlock{
  display:flex;
  justify-content:flex-start;
  width:100%;
  height:40px;
  place-items:center;
  border-top:0.5px solid var(--grey-3);
  background:var(--off-beige);
}

.sidebarBottom .icon.plus{
  margin-right:16px;
  margin-left:16px;
}

.sidebarBottom .addFolder{
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.sidebarBottom .icon.plus:hover{
  color:var(--main-black);;
}

.addBlock:hover{
  background-color:var(--off-beige-hover);
  cursor:pointer;
}

.addBlock:active {
  background:var(--off-beige-clicked);
}

.deleteBlockContainer {
  position:fixed;
  display: flex;
  flex-direction: column;
  width:250px;  
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 2px;
  background:white;
  height:280px;
  overflow:auto;
  bottom: 55px;
  left:210px;
  overflow-y:auto;

}

