/* General stylings */

.dekked-sidebar-container {
  flex-grow:0;
  flex-shrink:0;
  pointer-events:none;
  position:relative;
  z-index:99;
  background: var(--off-beige);
  width: 220px; 
  cursor:default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}

.dekked-sidebar{
  display:flex;
  flex-direction:column;
  height:100%;
  position:relative;
  pointer-events:auto;
  max-height:100%;
  width:220px;
  left:-100%;
  opacity:1;
  transition: box-shadow 300ms ease-in 0s;
  border-right: 1.5px solid var(--grey-3);
}

.dekked-sidebar a{
  display:block;
  text-decoration: none;
  color:var(--main-black);
  width:100%;

}

.dekked-sidebar-container .icon {
  display:flex;
  align-items:center;
  justify-content:center;
  height:16px;
  width:16px;
}

.dekked-sidebar-container .icon:hover {
  color: var(--primary-color);
  cursor:pointer;
}

/* Style Top Profile Section of Sidebar */
.sidebar-top {
  position:absolute;
  display:flex;
  align-items:center;
  height:60px; 
  top:0;
  width: 100%;
  border-bottom: 1.5px solid var(--grey-3);
}

.sidebar-top .profile{
  display:flex;
  height:28px;
  justify-content: flex-start;
  margin:16px;
  flex-direction: row;
  place-items:center;
}

.sidebar-top .profile .avatar{
  display:flex;
  align-items:center;
  justify-content:center;
  background: var(--primary-color);
  border-radius:100px;
  width:28px;
  height:28px;
  margin-right:8px;
}

.sidebar-top .profile .avatar .p1{
  color:var(--white);
}

.sidebar-top .icon.chevronDoubleLeft
{
  position:absolute;
  right:0;
  margin-right:10px; 
}

.sidebar-top .icon.chevronDoubleLeft:hover path:nth-of-type(1){
  fill: var(--primary-color);
}

.sidebar-top .icon.chevronDoubleLeft:hover path:nth-of-type(2){
  fill: var(--primary-color);
}

.icon.dropDownArrow.down
{
  margin-left:12px;
}


/* Style Workspace Section of Sidebar */

.workspace{
  display:flex;
  flex-direction:column;
  margin-top:60px;
  height:calc(100% - 100px);
  width:100%; 
  overflow-y:auto;
}

.workspace .title {
  width:100%;
  height:30px;
}

.workspace .title .p2 {
  color:var(--grey-1);
  padding-left:16px;
  margin-top:8px;
}

.noBinders {
  display:flex;
  align-items: center;
  justify-content: flex-start;
  color:var(--grey-1);
  width:100%;
  height:30px;
  cursor:default;
  background: var(--off-beige);
}

.noBinders p {
  color:var(--grey-1);
  margin-left:40px;

}

.noStudySets {
  display:flex;
  align-items: center;
  justify-content: flex-start;
  color:var(--grey-1);
  width:100%;
  height:30px;
  cursor:default;
  background: var(--off-beige);

}

.noStudySets p {
  color:var(--grey-1);
  margin-left:48px;  
}

/* Style Bottom Section of Sidebar */

.AddBlock{
  position:absolute;
  display:flex;
  justify-content:flex-start;
  width:100%;
  height:40px;
  place-items:center;
  border-top:1.5px solid var(--grey-3);
  background:var(--off-beige);
}

.sidebar-bottom .icon.plus{
  margin-right:16px;
  margin-left:16px;
}

.sidebar-bottom .addFolder{
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.sidebar-bottom .icon.plus:hover{
  color:var(--main-black);;
}

.AddBlock:hover{
  background-color:var(--off-beige-hover);
  cursor:pointer;
}

.AddBlock:active {
  background:var(--off-beige-clicked);
}











