.dekked-studyCardContainer {
    position:relative;
    width:100%;
    height:100%;
    filter:var(--drop-shadow);
    padding:48px 32px;
    background:white;
    display:flex;
    align-items:center;
    flex-direction:column;
    overflow-y:auto;
}

.dekked-studyCard {
    width:100%;
    height:100%;
}

.dekked-studyCardContainer .icon.active.logo{
    position:absolute;
    bottom:16px;

}