.dekked-studyMode {
    width:100%;
    height:100%;
    display:flex;
    align-items:flex-start;
    justify-content:flex-start;
}

.dekked-studyMode .dekked-pageContentContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
    height:100%;
}

 .dekked-studyMode .dekked-pageContent{
    padding-left: calc(75px + env(safe-area-inset-left));
    padding-right: calc(75px + env(safe-area-inset-right));
    padding-top: calc(30px + env(safe-area-inset-left));
    padding-bottom: calc(30px + env(safe-area-inset-right));
    max-width:100%;
    width: 100%; 
    height:90%;
}