.flashcard-container {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 850px;
    height: 198px;
    background: var(--off-beige);;
    border-radius: 5px; 
    padding: 16px 32px;
    margin-bottom:16px;

}

.flashcard-container .flashcard {
    display:flex;
    position:relative;
    flex-direction:column;
    width:100%;
    height:100%;
}

.flashcard-container .flashcard-header{
    width:100%;
    display:flex;
    justify-content:space-between;

}

.flashcard-container .flashcard-text{
    position:absolute;
    bottom:0;
    width:100%;
    display:flex;
    justify-content:space-between;
}

.flashcard-text .flashcard-front, .flashcard-back{
    background-color:var(--white);
    height:140px;
    width:377px;
}

 
