.linkedFlashcardContainer {
    position:fixed;
    display:flex;
    flex-direction:column;
    align-items:center;
    width: 1000px;
    max-width:100%;
    z-index:10000;     
    padding-left:calc(79px + env(safe-area-inset-left));
    padding-right: calc(79px + env(safe-area-inset-right));
}

.linkedFlashcardTab {
    cursor:pointer;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 8px 48px;
    background: var(--off-beige);
    border-radius: 5px 5px 0px 0px;
    width: 112px;
    height: 32px;
}


.linkedFlashcardContainer .linkedFlashcard {
    background: var(--off-beige);
    border-radius: 5px; 
    padding: 16px 32px;
    display:flex;
    flex-direction:column;
    height:240px;
    width:100%;
}

.linkedFlashcardContainer .linkedFlashcardText{
    width:100%;
    display:flex;
    justify-content:space-between;
    margin-top:10px;
    margin-bottom:10px;
}

.linkedFlashcardText .linkedFlashcardFront, .linkedFlashcardBack{
    background-color:var(--white);
    height:150px;
    width:48%;
    border-radius:var(--general-border-radius);
}


