

.toolbarTab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 26px;
    align-items: center;
    height: 20px;
    width: 100%;
}

@media only screen and (max-width: 740px) {

    .toolbarTab {
        flex-direction: column-reverse;
    }

    .toolbarTab .toolbar {
        padding-top: 32px;
    }
}

@media only screen and (max-width: 740px) {

    .buttonQuantity.studySet {
        flex-direction: column;
        gap: 16px;
        justify-content: flex-start;
        align-items: stretch;
    }
}

.studySetButtons {
    display: flex;
    flex-direction: row;
    gap: 32px;
}