
.dekked-studySet  {
    width:100%;
}

.dekked-studySet .dekked-page-header-container {
    display:grid;
    grid-template-columns: repeat(4,1fr );
    grid-column-gap: 56.67px;
    grid-row-gap: 42px;
}

.dekked-studySet .dekked-page-header-container {
    width:100%;
    display:flex;
    align-items:center;
    flex-shrink:0;
    flex-grow:0;
    flex-direction:column;
    margin-top:24px;   
}

.dekked-studySet .dekked-page-content-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
}

.dekked-studySet .dekked-page-content {
    padding-left: calc(75px + env(safe-area-inset-left));
    padding-right: calc(75px + env(safe-area-inset-right));
    max-width:100%;
    width:1000px;
    padding-bottom:15vh;
    padding-top:60px;
}

.dekked-studySet .dekked-page-header{
    padding-left: calc(75px + env(safe-area-inset-left));
    padding-right: calc(75px + env(safe-area-inset-right));
    max-width:100%;
    width:1000px;
}

.dekked-studySet .dekked-studyset-page-title-container{
    margin-top: 25px;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.dekked-studySet .dekked-studyset-page-buttons {
    display:flex;
}

.dekked-studySet  .dekked-page-header h2:empty:before {
    content: 'Untitled';
    color:var(--grey-2);
}

.dekked-studySet .dekked-page-header h2 {
    cursor:text;
}

.dekked-studySet .toolbar-tab {
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.dekked-studySet #studySet-switcher{
    display:flex;
    flex-direction:row;
    align-items:center;
    user-select: none;  
}

