
.dekked-studySet  {
    width:100%;
}

.dekked-studySet .dekked-pageHeaderContainer {
    width:100%;
    display:flex;
    align-items:center;
    flex-shrink:0;
    flex-grow:0;
    flex-direction:column;
    margin-top:23px;   
}

.dekked-studySet .dekked-pageContentContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
}

.dekked-studySet .dekked-pageContent {
    padding-left: calc(79px + env(safe-area-inset-left));
    padding-right: calc(79px + env(safe-area-inset-right));
    max-width:100%;
    width:100%;
    padding-bottom:42vh;
    padding-top:32px;
}

.dekked-studySet .dekked-pageHeader{
    padding-left: calc(79px + env(safe-area-inset-left));
    padding-right: calc(79px + env(safe-area-inset-right));
    max-width:100%;
    width:100%;
}

.dekked-studySet .dekked-studySetPageButtons {
    display:flex;
}

.dekked-studySet  .dekked-pageHeader h2:empty:before {
    content: 'Untitled';
    color:var(--grey-2);
    cursor:text;
}

.dekked-studySet .dekkedPageHeader h2 {
    cursor:text;
}

.dekked-studySet .toolbarTab {
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom:26px;
}

.dekked-studySet #studySetSwitcher{
    display:flex;
    flex-direction:row;
    align-items:center;
    user-select: none;  
}

.buttonQuantity{
    margin-top:14px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.dekked-studySet .linkedFlashcard {
    display:flex;
    align-items:center;
    flex-direction:column;
}