#toolbarTab {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-bottom:26px;
    align-items:center;
}

#studySetSwitcher span:hover{
   color:var(--primary-color);
}


@media only screen and (max-width: 740px) {

    #toolbarTab {
        flex-direction:column-reverse;
    }

    #toolbarTab .toolbar {
        padding-top:32px;
    }
}

#studySetSwitcher{
    display:flex;
    flex-direction:row;
    align-items:center;
    user-select: none;
    gap:24px;  
}

@media only screen and (max-width: 740px) {

    .buttonQuantity.studySet{
        flex-direction:column;
        gap:16px;
        justify-content:flex-start;
        align-items:stretch
    }
}

#linkedFlashcardContainer {
    position:fixed;
    bottom:0px;
    display:flex;
    flex-direction:column;
    align-items:center;
    width: 1000px;
    max-width:100%;
    z-index:10000;     
    padding-left:calc(75px + env(safe-area-inset-left));
    padding-right: calc(75px + env(safe-area-inset-right));
}

@media only screen and (max-width:600px)
{
    #linkedFlashcardContainer {
        padding-left:calc(25px + env(safe-area-inset-left));
        padding-right: calc(25px + env(safe-area-inset-right));
    }
}