.DropBlock {
    position:relative;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:row;
    width:100%;
    height:30px;

}
.DropBlock .icon{
    margin-right:8px;
}
.DropBlock .icon.folder.dropDownArrow.right{
    transform:rotate(-90deg);  
}
.DropBlock .icon.folder.dropDownArrow{
     margin-left:16px;
}

.DropBlock .icon.binder.dropDownArrow.right{
     transform:rotate(-90deg); 
}

.DropBlock .icon.binder.dropDownArrow{
     margin-left:24px;
}

.DropBlock .icon.studySet.dropDownArrow.right{
    display:none;
}

.DropBlock .icon.studySet{
    margin-left:56px;
}

.DropBlock .icon.dots{
    position:absolute;
    right:0;
    margin-right:8px;
    opacity:0;
}

.DropBlock p{
   text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    margin-right:16px;
}

.DropBlock p[contenteditable=true]
{
    text-overflow:clip;
}

.DropBlock p:empty:before {
  content: 'Untitled';
}
    
.DropBlock:hover {
    background:#E1E1E0;
    cursor: pointer;
}

.DropBlock:active {
    background:#D8D8D7;
}

.DropBlock:hover .icon.dots{
    opacity:1;
}

.DropBlock:hover p{
    margin-right:28px;
}

.DropBlock .DropdownMenu {
     background:#E1E1E0;
     overflow-y:hidden;
}

