.icon.folder {
   content:url("../../custom-icons/folder.svg");
}

.icon.binder {
   content:url("../../custom-icons/binder.svg");
}

.icon.studyset {
   content:url("../../custom-icons/studyset.svg");
}


.DropBlock {
    position:relative;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:row;
    width:100%;
    height:30px;

}

.DropBlock img.icon{
    margin-right:8px;
}

.DropBlock .icon{
    margin-right:8px;
}

.DropBlock .icon.dropDownArrow{
    margin-left:16px;
    transform:rotate(-90deg);  
}

.DropBlock .icon.dots{
    position:absolute;
    right:0;
    margin-right:8px;
    opacity:0;

}

.DropBlock p{
   text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    margin-right:16px;
}

.DropBlock p[contenteditable=true]
{
    text-overflow:clip;
}

.DropBlock p:empty:before {
  content: 'Untitled';
}
    
.DropBlock:hover {
    background:#E1E1E0;
    cursor: pointer;
}

.DropBlock:active {
    background:#D8D8D7;
}

.DropBlock:hover .icon.dots{
    opacity:1;
}

.DropBlock:hover p{
    margin-right:28px;
}

.DropBlock .DropdownMenu {
     background:#E1E1E0;
}



