* {
    --primary-color: #00B6CE;
    --primary-color-hover: #00A7BE;
    --primary-color-clicked: #00A0B5;
    --main-black: #2C2C31;
    --white: #ffffff;
    --white-hover: #EBEBEB;
    --white-clicked: #E0E0E0;
    --off-beige: #F5F5F4;
    --off-beige-hover: #E1E1E0;
    --off-beige-clicked: #D8D8D7;
    --red: #DB524B;
    --red-hover: #C94B45;
    --red-clicked: #C14842;
    --grey-1: #989796;
    --grey-1-hover: #8C8B8A;
    --grey-2: #C6C5C2;
    --grey-2-hover: #B6B5B2;
    --grey-3: #DEDEDE;
    --grey-3-hover:#CCCCCC;
    --highlight: #CCDDE8;
    --drop-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    --general-border-radius: 2px;
}

html.dekked-html, body.dekked-body, #dekked-app {
  height:100vh;
  position:relative;
  overflow:hidden;
  background-color:transparent;
  
}
::selection {
  background: #CCDDE8; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #CCDDE8;  /* Gecko Browsers */
}


*, *:focus {
  outline: 0;
  box-sizing:border-box;

}

#dekked-app-container {
    width:100vw;
    height:100%;
    position:relative;
    display:flex;
    flex:1 1 0%;
    background:white;
    cursor:text;

}

#dekked-overlay-container {
    position:fixed;
    inset:0px;
    z-index:999;
    pointer-events:none;
    overflow:hidden;
}

p {
  color:var(--main-black);
}

.p1 {
    font-size:14px;
    margin:0;
}

.p2 {
    font-size:12px;
    margin:0;
}

.p3 {
    font-size:10px; 
    margin:0;
}

.p1.bold,.p2.bold,.p3.bold {
  font-weight:700
}

h1{
  font-size:53px;
  color:var(--main-black);
  
}

h2{
  font-size:40px;
  color:var(--main-black);
  margin:0;
}

h3{
  font-size:22px;
  color:var(--main-black);
  margin:0;
}

.dropdownMenu{
  display: flex;
  flex-direction: column;
  width:220px;  
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 2px;
  background:var(--white);
}

/* width */
*::-webkit-scrollbar {
  width: 8px;
  cursor:auto;

}

/* Track */
*::-webkit-scrollbar-track {
  background: #DEDEDE;
  cursor:auto;

 
}
 
/* Handle */
*::-webkit-scrollbar-thumb {
  background: #C6C5C2; 
  cursor:auto;

}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #B6B5B2; 
  cursor:pointer!important;

}

.dekked-app-inner{
    height:100%;
}

.icon{
  display:flex;
  align-items:center;
  justify-content:center;
  width:16px;
  height:16px;
  color: var(--main-black);
  cursor:pointer;
}

.icon.active:hover {
  color: var(--primary-color);
}

.icon.active:active {
  color: var(--primary-color-hover);
}

input {
  background:var(--off-beige);
  border: 0.5px solid var(--grey-2);
  box-sizing: border-box;
  border-radius: var(--general-border-radius);
  font-size:12px;
  height:20px;
  color: var(--main-black);
}

::placeholder { 
  color: var(--grey-2);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--grey-2);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--grey-2);
}

a {
    text-decoration: none;
}