
/* Title Styling */

#account-title {
    border-bottom: 0.5px solid var(--grey-3);
    display:flex;
    justify-content:flex-start;

}

#account-title h3{
    padding-bottom:8px;
}

/* Avatar Styling */

#account-avatar-container{
    border-bottom: 0.5px solid var(--grey-3);
    padding-top:16px;
    padding-bottom:16px;
}
#account-avatar-button{
    padding-top:16px;
}

#account-avatar {
    width: 54px;
    height: 54px;
    background: var(--primary-color);
    border-radius: 100%;
    margin-right:15px;
}

#account-avatar-button {
    display:flex;
    align-items:center;
    justify-content:space-around;
    justify-content:flex-start;
}

/* Personal Info Styling */

#account-personal-info {
    padding-top:16px;
    padding-bottom:16px;
    border-bottom: 0.5px solid var(--grey-3);
}

#account-input {
    padding-top:16px;
    display:flex;
    flex-direction:column;
}

#account-input p{
    color:var(--grey-1);
}

#account-last-name {
    padding-top:8px;

}

input {
    width:100%;
}

/* Password Styling */

#account-password {
    padding-top:16px;
    padding-bottom:16px;
}

#account-password-title {
    padding-bottom:8px;
}

