.dekked-password-modal-container{
    width: 400px!important;
    height: 220px!important;
    background:var(--white);
    filter: var(--drop-shadow);
    border-radius: var(--general-border-radius);
    position:relative;
    
}

.dekked-password-modal{
    padding:24px;
    display:flex;
    justify-content:flex-start;
    flex-direction:column;
}

#current-password, #new-password, #confirm-password, #password-length{
    margin-bottom:8px;
}

#confirm-password p, #current-password p, #new-password p{
    color: var(--grey-1);
}

#password-length p {
    color:var(--grey-2);
}

